.App {
  text-align: center;
}
ion-icon {
  color: white !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bg-default {
  background-color: #084a83 !important;
  color:white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.label-default {
  font-size: 20px;
  font-weight: 500;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.bg-secondary {
  background-color: #f1f2f6 !important;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
